.container {
    background: #FFFFFF;
    color: #000000;
    width: 900px;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    font-size: 37px;
    /* position: absolute;
    top: 25%;
    left: 25%;
    margin: 0px; */
    box-sizing: border-box;
}

.userName {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    font-size: 37px;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.selector {
    background: #ECF2F9;
    color: #353535;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin: 0 0 20px 0; 
}

.description {
    background: #ECF2F9;
    color: #353535;
    text-align: justify;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    height: auto;
    margin-bottom: 20px;
}

hr {
    background-color: #000000;
    color: #000000;
    border-color: #000000;
    margin: 60px 0 20px 0;
}

.input:focus, .input:active, .selector:focus, .selector:active {
    border: none;
    outline: none;
}

.progress {
    background: #ECF2F9;
    color: #353535;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressControls {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    bottom: 20px;
    width: calc(100% - 40px); 
    left: 20px;
    right: 20px;
}

.progressControls .input {
    background: #ECF2F9;
    border: none;
    color: #353535;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    width: 90px;
    height: 50px;
}

.progressControls .increaseButton,
.progressControls .decreaseButton {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    border: none;
}

.progressControls .increaseButton {
    color: #FFFFFF;
    background-color: #00AAE6;
}

.progressControls .decreaseButton {
    color: #353535;
    background-color: #C4C4C4;
}

.progressControls .saveButton {
    color: #FFFFFF;
    background-color: #00AAE6;
    border: none;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin-left: auto;
    cursor: pointer;
}