.sectionContainer {
  width: 45.8vw;
  height: 26.4vw;
  position: relative;
  margin-top: 2.1vw;
  margin-bottom: 0.7vw;
  border-radius: 20px;
  background-color: white;
}
.sectionTitle {
  margin-left: 2.1vw;
  padding-top: 1.4vw;
  font-size: 2.57vw;
  font-weight: 600;
}
.sectionDescription {
  margin-left: 2.1vw;
  font-size: 1.3vw;
  color: #292d31;
  opacity: 0.75;
  margin-bottom: 0;
}
.sectionSlider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
}
@media (max-width: 500px) {
  .sectionContainer {
    width: 90vw;
    height: 52vw;
    position: relative;
    margin-top: 2.1vw;
    margin-bottom: 2.7vw;
  }
  .sectionTitle {
    margin-left: 3.4vw;
    padding-top: 3.4vw;
    font-size: 4.4vw;
  }
  .sectionDescription {
    margin-left: 3.4vw;
    font-size: 3.1vw;
  }
}
