.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContainer {
  position: relative;
  background: white;
  width: 900px;
  overflow-y: auto;
}

.closePopupButton {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 3vw;
  height: 3vw;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  z-index: 1001;
}
.settingsIcon {
  position: relative;
  font-size: 3vw;
  left: 7vw;
  width: 3vw;
  height: 3vw;
}
.settingsIcon svg{
  color:#000;
}
.settingsIcon:hover {
  animation: rotateIcon 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .settingsIcon {
    display: none;
    position: relative;
    left: 1vw;
    width: 5vw;
    height: 5vw;
  }
}
