.collContainer {
  position: relative;
  right: 4vw;
  width: 42.8vw;
  height: 10vw;
  display: flex;
  padding: 0 3vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  border-bottom: 1px solid rgba(37, 36, 36, 0.293);
  transition: color 0.2s;
}
.collContainer:hover {
  color: #00aae6;
}
.collContainer:hover .collPhoto {
  opacity: 0.5;
}
.collPhoto {
  opacity: 1;
  width: 8vw;
  height: 8vw;
  transition: opacity 0.2s;
}
.collContent {
  display: flex;
  width: 24vw;
  position: relative;
  top: 10px;
  flex-direction: column;
  align-items: center;
  font-size: 1.57vw;
  text-align: center;
  font-weight: 600;
}
.collContent h3 {
  margin: 5px;
  font-size: 1.7vw;
}
.collContainer:last-of-type {
  border-bottom: 0;
}
.headerAcc {
  font-weight: 600;
  font-size: 2.57vw;
}
@media (max-width: 500px) {
  .collContainer {
    width: 85vw;
    height: 17.5vw;
    padding: 0 3.4vw;
    margin-bottom: 0vw;
  }
  .link {
    font-size: 3.1vw;
  }
  .collPhoto {
    width: 15vw;
    height: 15vw;
  }
  .collContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.1vw;
    width: 55vw;
    font-weight: 600;
  }
  .headerAcc {
    font-size: 4.4vw;
  }
  .collContent h3 {
    font-size: 4vw;
  }
}
