.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ECF2F9;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

img {
    margin-left: 12px;
    max-width: 200px;
    align-self: flex-start;
}

.formContent {
    width: 100%;
    padding: 24px;
    background: #ECF2F9;
    border-radius: 8px;
}