.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.sliderContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  width: 90.3%;
  height: 100%;
  position: relative;
}

.sliderItem {
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 13vw;
  height: 16vw;
  transition: 0.2s;
  justify-content: center;
}
.sliderItem:hover {
  cursor: pointer;
}
.sliderItem.active {
  transition: transform 0.3s;
  transform: scale(1.6);
  z-index: 2;
  position: relative;
  top: 0.35vw;
}
.sliderItem.prev {
  transition: transform 0.3s;
  transform: scale(1);
  z-index: 1;
}
.sliderItem.next {
  transition: transform 0.3s;
  transform: scale(1);
  z-index: 1;
}
.itemContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
}
.itemImage {
  width: 80%;
  height: 100%;
}
.itemTitle {
  font-size: 1.31vw;
  font-weight: bold;
  color: #292d31;
  text-align: center;
  opacity: 0.75;
}

@media (max-width: 500px) {
  .sliderContent {
    gap: 3vw;
  }
  .sliderItem {
    width: 25vw;
    height: 34vw;
  }
  .itemImage {
    width: 90%;
    height: 100%;
  }
  .itemTitle {
    font-size: 2.57vw;
  }
}
