@font-face {
  font-family: 'als hauss';
  src: url(/fonts/ALSHauss-Regular.woff);
}
body{
   font-family: "als hauss", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.pfpageContainer{
  display: flex;
  flex-direction: row;
  gap: 2.78vw;
  padding: 4.78vw 5.55vw;
  justify-content: center;
}
@media(max-width:500px){
  .pfpageContainer{
    flex-direction: column;
  }
}