.menuContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 2.78vw;
}
.buttonMenu {
  width: fit-content;
  position: relative;
  border-radius: 30px;
  text-decoration: none;
  color: #292d31;
  font-size: 1.57vw;
  padding: 10px 18px;
  opacity: 0.75;
  transition: all 0.4s;
}
.buttonMenu:hover {
  color: #292d31;
  background-color: #abb5c09e;
}
.active {
  color: #292d31;
  opacity: 1;
  background-color: #abb5c09e;
}
.buttonMenu span {
  width: fit-content;
  color: #292d31;
  opacity: 0.75;
}
@media (max-width: 500px) {
  .menuContainer {
    height: 30vw;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 5vw;
    top: 60vw;
  }
  .buttonMenu {
    font-size: 3.1vw;
  }
}
