.header {
  width: 100%;
  height: 7vw;
  padding: 0.5vw 5.5vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #8593a496;
  background-color: #abb5c057;
}
.header img {
  width: 9vw;
  height: 4vw;
}
.headerLink img {
  border-radius: 50%;
  border: 2px solid black;
  width: 5.55vw;
  height: 5.55vw;
}
@media (max-width: 500px) {
  .header {
    padding: 1.5vw 6.5vw;
    height: 12vw;
  }
  .header img {
    width: 15vw;
    height: 7vw;
  }
  .headerLink img {
    border: 1px solid black;
    width: 8vw;
    height: 8vw;
  }
}
